
body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    line-height: 1.3;
}
.chatarea-container,
.homescreen-container {
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.homescreen-container {
    background-image: url('../img/home.jpg');
}
.chatarea-container {
    background-image: url('../img/conversationWithOutText.jpg');
    opacity: 0;
    transition: opacity 3000ms;
}
.chatarea-wrapper {
    padding-top: 80px;
}
.chat-area {
    max-height: 67vh;
    width: 100vw;
    overflow-y: scroll;
}
.text-div {
    width: 92%;
    margin: 0 auto;
    min-height: 30px;
    padding: 10px 0 0;
    clear: both;
}
.clearfix {
    clear: both;
}
.bot-text,
.user-text {
    min-height: 20px;
    max-width: 60%;
    border-radius: 33px;
    padding: 20px 30px;
    font-size: 16px;
}
.bot-text{
    background: #002A82;
    color: #9BA9C9;
    float: right;
    margin-right: 10px;
    position: relative;
}
.user-text {
    background: white; 
    color: #8083ae;
    float: left;
    margin-left: 10px;
    position: relative;
}
.bot-text::after,
.user-text::after {
    content: "";
    width: 0;
    position: absolute;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    bottom: -5px;
}
.bot-text::after {
    border-left: 35px solid #002A82;
    right: -3px;
    transform: rotate(37deg);

}
.user-text::after {
    border-right: 35px solid white;
    left: -5px;
    transform: rotate(-37deg);

}
.input-area {
    width: 100%;
    position: absolute;
    bottom: 25px;
    text-align: center;
    padding: 0 20px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 3000ms;
}
.input-area input,
.input-area button {
    font-size: 18px;
    border: 1px solid #AC9D6C;
    padding: 10px;
}
.input-area input {
    float: left;
    width: 74%;
    box-sizing: border-box;
}
.input-area button {
    float: right;
    width: 25%;
    outline: none;
    background: #AC9D6C;
}
.carousel-wrapper {
    position: relative;
    float: right;
    width: 85%;
}
.slide {
    display: none;
}
.prev-btn, .next-btn {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #ccb5b5;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.next-btn {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev-btn:hover, .next-btn:hover {
  background-color: rgba(0,0,0,0.8);
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
img {
    max-width: 100%;
    height: 150px;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.fade-in {
  opacity: 1;
}